body{
	font-family:Cabin !important;
}
#background{
	background-image:url("../img/background.jpg");
	background-size: cover;
	height: 100vh;    
}
#pageHeader{
	background-image: url("../img/background.jpg");
	background-size: cover;
}
#pageFooter {
	padding: 10px;
	color: #fff;
}
.contact{
	height: 100vh;
}
#menu{
	justify-content: normal;
}
#menu-item:hover{
	text-decoration: underline;
}
#portfolioDescription{
    width: 300px;
    border: 1px solid #000;
    padding: 14px;
    background: #ececec;

}	
i{
	font-size: x-large;
	color:fff;
}
