/*@font-face {
    font-family: MyriadPro-Bold;
    src: url(/MyriadPro-Bold.otf);
}*/
body{
	font-family:Cabin;
	height:100vh;
	display:grid;
	background-image:url("..img/webdev.jpeg");
	/*grid-column:1;*/
	grid-template-areas:
	"nav"
	"header "
	"article"
	"footer "
	
}
header,footer, article,nav,div{
	padding:1.2em;
	background-color:#f4f5f7;
}
#mainNav{
	grid-area:nav;
	background-color:#fff;
	/*height:5%;*/

}
nav{
	float:right;
}
nav,li,a{
    text-decoration: none;
    padding:5px;
    color:#000;
	
}
nav,li,a:active{
    color:#00e6e6;
}
.portfolio-links{
	color:white;
}
/*
nav,li, a:visited{
    color:#00e6e6;
}
*/
nav,li,a:hover{
    color:#00e6e6;
}
#button{
	color:#28e2ef;
}
/*
ul{
	margin-left:70%;
	margin-right:5%;
}
*/
ul ,li{
	display:inline-block;
	list-style-type:none;
	text-align:left;

	}
#pageHeader{
	grid-area:header;
	background-color:#f4f5f7;

}
/*div{
	background-color:#f4f5f7;
}*/
#typewriter{
	width:400px;
}
#info{
	grid-area:article;
	background-color: #00e6e6;
}
#mainArticle{
	grid-area:article;
	padding-right:5%;
}

i{
  	font-size: 30px;
}
/*
.column {
    float: left;
    width: 50%;
    padding: 10px;
	
	display: grid;
	grid-template-columns: 2fr 2fr 2fr ;
	gri-auto-column: minmax(50px, auto);
	grid-gap:1em;
	
    
}
*/
/*
.row{
    display: grid;
	grid-template-columns: 1fr 1fr;
}
*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #00e6e6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00e6e6;
}

.contact_form {
    border-radius: 0px;
    background-color: #f2f2f2;
    padding: 20px;
}
#pageFooter{
	grid-area:footer;
	color:#fff;
	background-color:#1c1c1c;
}

.grid-container{
    position: relative;
	top:0px;
	width:98%;
	left:20px;
	height:auto;
	/*background-color:green;*/
	padding:0px;
	overflow:hidden;
	display:inline-block;
	
}

.container-divs {
	position: relative;
	top:0px;
	float:left;
	width:42%;
	min-height:500px;
	height:auto;
	background-color:#eff0f2;
	margin: 5px;
	overflow:hidden;
	display:inline-block;
	padding:0px;
}

.container-divs .img-item {
	position:relative;
	height:100px;
	width:100px;
	left:0px;
	float:left;
	border-radius:50%;
	margin: 0px 0px 5px 5px;
	padding-left:5%;
	padding-right:5%;
	
}

.img-item img {
	position: relative;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	margin: auto;
	padding: auto;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

.list-group> li{
    float:left;
}
img{
    /*width:150px;
    height:70px:*/
}
.img-circle{
    width: 50%;
    height: auto;
    border:none;
    padding:2%;
    
.project{
	background-color:#fff;
}

img-thumbnail{
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
}
@media all and (max-width:575px){
	body{
		grid-template-areas:
		"header"
		"article"
		"nav"
		"footer";
		grid-template-rows:80px 1fr 70px 1fr 70px;
		grid-template-columns:1fr;
		}
	}
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  float: left;
  right: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;

}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}s

.inner{
  padding: 2px 16px;
}